.coin-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.coin {
    width: 200px;          
    aspect-ratio: 1 / 1;   
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.coin.win {
    background-color: #ffc373;
    border: 6px solid #ffa200;
}

.coin.lose {
    background-color: #9999a1;
    border: 6px solid #66666e;
}

.coin img {
    width: 72px;
    opacity: 0.4;
}

