.record-table-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.records-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
}